body {
    background-color: rgb(49, 179, 17);
}

.class1{
    color: rgb(36, 80, 145);
}

.class2{
    color: rgb(36, 80, 145);
}

.class3{
    color: rgb(36, 80, 145);
}

.class4{
    color: rgb(36, 80, 145);
}