body {
   background-image: url('pexels-rostislav-uzunov-5011647.jpg');
   text-align: center;
   background-size: cover;
   font-family: 'Alumni Sans Collegiate One', sans-serif;
   font-family: 'Montserrat', sans-serif;

}

#password {
   color: orange;
   font-size: xx-large;
}

#input {
   color: chartreuse;
}

.m1,
.m2,
.m3,
.m4 {
   color: white;
   font-size: x-large;

}

.t1,
.t2,
.t3,
.t4 {
   color: chartreuse;
   font-size: x-large;

}





.tooltip {
   position: relative;
   display: inline-block;
}

.tooltip .tooltiptext {
   visibility: hidden;
   width: 140px;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px;
   position: absolute;
   z-index: 1;
   bottom: 150%;
   left: 50%;
   margin-left: -75px;
   opacity: 0;
   transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
}